[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/

*.csproj
*.sln
*.tmp
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/Barrio-quest/FileContentIndex/d9a7ecd4-2df5-4167-84c1-b23ac86e87ba.vsidx
